@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 95px;
  margin-bottom: 60px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.active .fade-enter-active {
  overflow: hidden;
  max-height: 450px;
  transition: max-height 1s;
}
.active .fade-leave-active {
  overflow: hidden;
  max-height: 450px;
  transition: max-height 1s;
}
.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
.fade-enter {
  opacity: 1;
}

.box {
  width: 450px;
  height: 350px;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
