.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.box {
  width: 200px;
  height: 200px;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
